<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>stuP</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentService</display-name>
    <servlet-name>StudentService</servlet-name>
    <servlet-class>com.db.services.StudentService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentService</servlet-name>
    <url-pattern>/StudentService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherService</display-name>
    <servlet-name>TeacherService</servlet-name>
    <servlet-class>com.db.services.TeacherService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherService</servlet-name>
    <url-pattern>/TeacherService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminService</display-name>
    <servlet-name>AdminService</servlet-name>
    <servlet-class>com.db.services.AdminService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminService</servlet-name>
    <url-pattern>/AdminService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doLogin</display-name>
    <servlet-name>doLogin</servlet-name>
    <servlet-class>com.db.controller.doLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLogin</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStudent1</display-name>
    <servlet-name>addStudent1</servlet-name>
    <servlet-class>com.db.services.addStudent1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudent1</servlet-name>
    <url-pattern>/addStudent1</url-pattern>
  </servlet-mapping>
</web-app>